workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_BRANCH == "infra"' # Temporarily for testing... to be removed later if the code is fixed
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

stages: [test, package, docker, deploy]

variables:
  BACKEND_IMAGE: "proftas/backend"
  FRONTEND_IMAGE: "proftas/frontend"
  COMPOSE_PROJECT_NAME: ci

backend_tests:
  stage: test
  image: gradle:8.10.2-jdk17
  allow_failure: true # Temporarily allow failures to not block the pipeline. to be removed later if the code is fixed
  script:
    - cd backend
    - ./gradlew test --no-daemon

frontend_tests:
  stage: test
  image: node:20-alpine
  allow_failure: true # Temporarily allow failures to not block the pipeline. to be removed later if the code is fixed
  script:
    - cd frontend
    - npm ci 
    - npm run lint 
    - npm run build

backend_package:
  stage: package
  image: gradle:8.10.2-jdk17
  needs: [backend_tests] 
  script:
    - cd backend
    - ./gradlew clean bootJar --no-daemon
  artifacts: 
    paths: [backend/build/libs/app.jar]

build_and_push:
  stage: docker
  needs: [backend_package, frontend_tests]
  script:
    # using docker hub instead since GitLab registry has limitations 
    - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USER" --password-stdin
    - export TAG="$CI_COMMIT_SHORT_SHA"

    - docker compose -f docker-compose.yaml build

    - docker push "$BACKEND_IMAGE:$TAG" "$FRONTEND_IMAGE:$TAG"
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        docker tag "$BACKEND_IMAGE:$TAG" "$BACKEND_IMAGE:latest"
        docker tag "$FRONTEND_IMAGE:$TAG" "$FRONTEND_IMAGE:latest"
        docker push "$BACKEND_IMAGE:latest" "$FRONTEND_IMAGE:latest"
      fi

deploy_to_netlab:
  stage: deploy
  tags:
    - netlab
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_BRANCH == "infra"' # Temporarily for testing... to be removed later if the code is fixed
  script:
    # using docker hub
    - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USER" --password-stdin 

    - export BACKEND_IMAGE="$BACKEND_IMAGE"
    - export FRONTEND_IMAGE="$FRONTEND_IMAGE"
    - export TAG="$CI_COMMIT_SHORT_SHA"
    
    - docker compose down --remove-orphans || true
    - docker compose pull
    - docker compose up -d